@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/GothamBook.ttf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("./assets/fonts/GothamBold.ttf");
}


@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}

.sl {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.sl-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: auto;
}

.scroller {
  position: absolute;
  bottom: 70px;
  margin-left: 130px;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 8px 0px 9px;
  border: solid 1px #000;
  background-color: #d8d8d8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .text {
  position: absolute;
  bottom: 10%;
  margin-left: 100px;
  color: rgb(255, 255, 255);
} */

.sl-active {
  box-shadow: 0 2px 6px 0 rgba(48, 48, 48, 0.5);
  border: solid 1px #979797;
  background-color: #fff;
  width: 28px;
  height: 15px;
  border-radius: 50px;
}

/* Fading animation */
.sl-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.overview {
  padding: 8%;
}

.overview > .overview-wrapper {
  border-radius: 20px;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 2px 14px 0 rgba(196, 196, 196, 0.5);
  background-color: #fff;
}

.overview-heading {
  font-size: 40px;
  font-weight: bolder;
  font-family: Gotham-Bold;
}
.overview-image {
  width: 520px;
  height: 470px;
  border-radius: 10px;
  position: absolute;
  margin-top: -90px;
  margin-left: 10px;
}
.mega {
  color: #9bbc30;
}

.talks {
  color: #256cb6;
}

.overview-text {
  font-family: Gotham;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3d3d3d;
}
.slide {
  display: none;
}

.slide.active {
  display: block;
}

/* Featurs */

.feature {
  background-image: url(./assets/f.jpg);
  background-size: 100% 100%;
  height: 1000px;
}

/* Quotes */

.quotes {
  background-image: url(./assets/images/quotes/qoutes-background.png);
  background-size: 100% 100%;
  height: auto;
  padding: 67px 0px 67px 0px;
}

.quotes-section-heading {
  height: 45px;
  margin-left: 300px;
  font-family: Gotham-Bold;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #242833;
}

.left-arrow {
  display: inline-block;
  background-image: url("./assets/images/quotes/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 46px;
  width: 46px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-arrow {
  display: inline-block;
  background-image: url("./assets/images/quotes/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 46px;
  width: 46px;
  float: right;
}

.quote-wrapper {
  /* border: 1px solid black; */
  padding: 37px 250px 0px 250px;
}
.quotation-card-wrap {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

#customers-testimonials .item {
  text-align: center;
  opacity: 0.2;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d8dbd1;
  height: 350px;
  padding: 50px;
  overflow: hidden;
}

#customers-testimonials .name {
  font-family: Rubik;
  margin: 5px 0 4px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #687d20;
}

#customers-testimonials .designation {
  margin: 4px 34px 10px 33px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7e7e7e;
}

#customers-testimonials .desc {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: center;
  color: #242833;
}

.owl-item.active.center {
  z-index: 1;
  left: -120px;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 600px;
  background-color: white;
  box-shadow: 0 2px 24px 0 rgba(204, 204, 204, 0.5);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  height: 15px;
  width: 15px;
  margin: 0 8px 0px 9px;
  border: solid 2px #979797;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span {
  border: solid 1px #979797;
  background-color: #fff;
  width: 28px;
  height: 15px;
  border-radius: 50px;
}


/* contact */
.contact {
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 100px 150px;
}

.contact-section-heading {
  height: 50px;
  margin-left: 130px;

  font-family: Gotham-Bold;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #242833;
}

form {
  background: #fff;
  width: 100%;
  font-family: "Gotham";
  margin-top: 20px;
  padding-top: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  font-family: "Gotham";
  width: 100%;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 29px !important;
}

input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

input::placeholder {
  color: #000000a6;
  font-family: Gotham;
  font-size: large;
}

.required {
  color: red;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px !important;
  color: grey !important;
  line-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Gotham;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid grey;

  /* Style the checkmark/indicator */
}
.form-info {
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px !important;
  font-family: Gotham;
}
.indicator {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  display: none;
  position: absolute;
}
/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark .indicator {
  display: block;
}

.checkBoxContainer input:checked ~ .checkmark {
  background-color: rgb(0, 0, 0);
}

.frm-button {
  background-color: rgb(37 108 182);
  width: 250px;
  height: 50px;
  border-radius: 60px;
  opacity: 1;
  margin-right: 30px;
  color: white;
  border: none;
  text-align: center;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: Gotham-Bold;
  cursor: pointer;
}

.footer1 {
  height: auto;
  background-color: rgb(231 233 241);
  padding: 20px 150px;
  font-size: 17px;
  color: rgb(0, 0, 0, 0.5);
}

.footer2 {
  height: auto;
  background-color: rgb(26 26 26);
  padding: 15px 150px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.904);
}

.social-logo {
  display: inline-block;
  border: 2px solid rgb(206, 206, 206);
  height: 40px;
  border-radius: 50%;
  width: 40px;
  background-color: transparent;
  padding-top: 8px;
  text-align: center;
}

.bor {
  text-align: center;
  border-right: 2px solid #494949ed;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 409px) {
  .navbar-brand {
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 992px) {
  .overview-image {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
  }
  .overview {
    padding: 20px;
  }
  .overview > .overview-wrapper {
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
  }
  .overview-text-wrapper {
    padding: 10px;
  }
  .overview-heading {
    font-size: 40px;
    font-weight: 930;
    font-family: Gotham;
  }
}

@media screen and (min-width: 992px) {
  .navbar-meta .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .navbar-meta {
    padding: 0px 150px;
  }
  
}

@media only screen and (max-width: 768px) {
  .contact {
    padding: 10px;
  }
  .quotes {
    padding:40px 0px 0px 0px;
  }
  .quotes-section-heading {
    margin-left: 0px;
    font-size: 30px;
  }
  .contact-section-heading {
    margin-left: 0px;
  }
  
}


@media only screen and (max-width: 1000px) {
  .quote-wrapper {
    /* border: 1px solid black; */
    padding: 0px 0px 0px 0px;
    width: 100%;
  }
  .right-arrow {
    visibility: hidden;
  }
  .left-arrow {
    visibility: hidden;
  }
  .owl-item.active.center {
    left: 0px;
  }
  #customers-testimonials .owl-item.active.center .item {
    width: 100%;
    height: auto;
  }
  .sl-image{
    height: 400px;
  }
}




/* .item{
  width: 500px;
} */
